<div class="federated-sign-in-container">
  <amplify-authenticator>
    <ng-template amplifySlot="header">
      <div style="padding: var(--amplify-space-large); text-align: center">
        <img
          class="amplify-image"
          alt="Amplify logo"
          src="/assets/Atlassian-Logo.png"
        />
      </div>
    </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div *ngIf="user">
      <app-navbar></app-navbar>
      <app-footer></app-footer>
    </div>

    <router-outlet></router-outlet>
    <div *ngIf="user">
      <app-navbar></app-navbar>
    </div>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>

</amplify-authenticator>
</div>
